*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  font-size: 18px;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: Lobster;
  margin-bottom: 5px;

}
h2 {
  color: black;
  font-size: 25px;
  font-family: helvetica;
  margin-bottom:10px;
}
.main-text {
  text-align: justify;
  margin-bottom: 20px;
}
.container{
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.blog-post{
  background-color: blue;
}
.author-pic img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-top: 20px;
}
